.btnStyle {
  width: max-content;
  height: min-content;
  padding: 10px 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #3182f6;
  color: #fff;
  font-family: 'Pretendard-Medium';
}
