@import '../../styles/colors';

.line {
  @include line;
  height: 16px;
}

.cartHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 24px 12px 24px;

  & div:first-child {
    @include GR100;
    font-family: 'Pretendard-Bold';
    font-size: 17px;
  }

  & div:nth-child(2) {
    display: flex;
    font-family: 'Pretendard-Medium';
    font-size: 15px;
    color: #f04452;

    & span {
      margin-right: 6px;
    }
  }
}

.cartAdd {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;

  border-top: 1px solid #e5e8eb;
  @include heading2;
  color: #3182f6;
}

.cartPrice {
  margin-bottom: 110px;
  padding: 16px 0px;

  & div {
    display: flex;
    justify-content: space-between;
    padding: 8px 23px;

    & span:first-child {
      @include GR400;
    }

    & span:last-child {
      @include GR400;
      color: #505967;
    }
  }

  & div:last-child {
    padding: 16px 23px;

    & span:first-child {
      @include GR300;
      font-size: 17px;
    }

    & span:last-child {
      @include GR200;
      font-size: 17px;
    }
  }
}

.cartBottom {
  width: 100%;
  position: fixed;
  bottom: 0px;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 16px;

  & span {
    margin-bottom: 19px;
    @include body1;
    font-size: 17px;
  }

  & .cartBtn {
    padding: 18px 112px;
    font-family: 'Pretendard-SemiBold';
    font-size: 16px;
    border-radius: 16px;
  }

  & .fadeOut {
    background-color: #d0dffb;
  }
}
