@mixin heading1 {
  font-family: 'Pretendard-Bold';
  font-size: 26px;
  color: #191f28;
}

@mixin heading2 {
  font-family: 'Pretendard-SemiBold';
  font-size: 17px;
  color: #333d4b;
}

.header {
  @include heading1;
  margin-top: 66px;
  margin-left: 24px;
}

.subHeader {
  @include heading2;
  margin-top: 13px;
  margin-left: 24px;
  font-family: 'Pretendard-Medium';
}

.categoryContainer {
  display: grid;
  margin-top: 74px;
  margin-left: 24px;
  margin-right: 24px;
  justify-content: center;
  align-items: center;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  column-gap: 9px;
  row-gap: 10px;
}
