@import '../../styles/colors.scss';

.header {
  @include heading1;
  margin-top: 66px;
  margin-left: 24px;
}

.subHeader {
  @include heading2;
  margin-top: 13px;
  margin-left: 24px;
  font-family: 'Pretendard-Medium';
}

.categoryContainer {
  display: grid;
  margin-top: 74px;
  margin-left: 24px;
  margin-right: 24px;
  justify-content: center;
  align-items: center;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  column-gap: 9px;
  row-gap: 10px;
}
