@import '../../styles/colors';

.topBar {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: #fff;
  padding: 10px 0px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.backBtn {
  margin-left: 10px;
}

.cancelBtn {
  @include heading2;
  margin-right: 15px;
}
