@mixin heading1 {
  font-family: 'Pretendard-Bold';
  font-size: 26px;
  color: #191f28;
}

@mixin heading2 {
  font-family: 'Pretendard-SemiBold';
  font-size: 17px;
  color: #333d4b;
}

@mixin body1 {
  font-family: 'Pretendard-Medium';
  font-size: 13px;
  color: #6b7684;
}

.store {
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 24px;

  &.lastMargin {
    margin-bottom: 77px; /* 조건에 따라 추가할 마진 값 */
  }
}

image {
  width: 54px;
  height: 54px;

  border-radius: 8px;
  background: #ececec;
}

.info {
  display: flex;
  flex-direction: column;
  margin-left: 17px;
}

.heading {
  @include heading2();
}

span {
  @include body1();
}
