@import '../../styles/colors';

.store {
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 24px;

  &.lastMargin {
    margin-bottom: 77px; /* 조건에 따라 추가할 마진 값 */
  }

  & div {
    display: flex;
    flex-direction: column;
    margin-left: 17px;
  }

  & .heading {
    @include heading2;
  }

  & .body {
    @include body1;
    margin-top: 5px;

    &:last-child {
      margin-top: 4px;
    }
  }
}

image {
  width: 54px;
  height: 54px;

  border-radius: 8px;
  background: #ececec;
}
